@model IndexModel;
@using Microsoft.AspNetCore.Http;
@using Humanizer;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<h1>Student</h1>

<table class="table" id="step1">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tenant Secret")
            </th>
            <th>
                @Html.DisplayName("Student Georgian College Number")
            </th>
            <th>
                @Html.DisplayName("Program")
            </th>
            <th>
                @Html.DisplayName("Current Semester")
            </th>
            <th>
                @Html.DisplayName("Coop Semester")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>Selected?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentGeorgianCoolegeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoopSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @(HttpContextAccessor.HttpContext.Session.GetInt32("studentId") != null&& item.StudentId ==HttpContextAccessor.HttpContext.Session.GetInt32("studentId") ? "Yes":"--")
                </td>
                <td>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.TenantId == Model.TenantIdAdmin)
{
    <p>
        <a asp-controller="Tracker" asp-action="Create">Create New</a>
    </p>
}
<h1>List Trackers</h1>

<table class="table" id="step2">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Start in")
            </th>
            <th>
                @Html.DisplayName("End in")
            </th>
            <th>
                @Html.DisplayName("Submit in")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>@Html.DisplayName("Total Applications")</th>
            <th>Working Tracker</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trackers)
        {
            <tr>
                <td>
                    @(item.TrackerId== Model.TrackerIdCalculatedBySystem?">": "")
                    <abbr title="@item.Start.Date">
                        @item.Start.Date
                    </abbr>
                </td>
                <td>
                    <abbr title="@item.End.Date">
                        @item.End.Date.Humanize()
                    </abbr>
                </td>
                <td>
                    <abbr title="@item.Submit.Date">
                        @item.Submit.Date
                    </abbr>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="step3">
                    @item.Trackee.Count()
                </td>
                <td class="step4">
                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("trackerId") != null && item.TrackerId == HttpContextAccessor.HttpContext.Session.GetInt32("trackerId"))
                    {
                        <label>Yes</label>
                    }
                    else
                    {
                        <a asp-controller="Tracker" asp-action="Select" asp-route-id="@item.TrackerId">@(item.TrackerId== Model.TrackerIdCalculatedBySystem?"Select Current**": "Select")</a>
                    }
                    @if (Model.TenantId == item.TenantId)
                    {
                        <a asp-controller="Tracker" asp-action="Delete" asp-route-id="@item.TrackerId">| Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th><em>Total</em> </th>
            <th colspan="3"></th>
            <th>@Model.Trackers.Sum(e => e.Trackee.Count()) </th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script defer>var tour = introJs().setOptions({
        steps: [
            { intro: "Welcome to Home Page where you have access to edita student and trakers information!" },
            { element: '#step0', intro: "This Menu always will be available. Here you know which Tracker you are working with, student name and TenantKey!" },
            { element: '#step01', intro: "TentanKey | Student Id - Student Full Name | Tracker Selected" },
            { element: '#step02', intro: "This menu is the place where you gonna create the records of each job application" },
            { element: '#step03', intro: "This menu you will be possible to reports the ones that has to be submited periodicaly to coop Office!" },
            { element: '#step04', intro: "Here you can make logout from the system" },
            { element: '#step1', intro: "On this secitons you can edit the student information, like: Student ID, Full name, Semesters, etc" },
            { element: '#step2', intro: "This table show all tracker available and its periods:start, end, and submition date" },
            { element: '.step3', intro: "This columns show the number of application on each tracker" },
            { element: '.step4', intro: "This collumn allow us to select which tracker we will be working with. VERY IMPORTANTE!" }
        ]
    });
    tour.onexit(() => {
        document.cookie = "tour_home=true";
    })
    tour.oncomplete(() => {
        document.cookie = "tour_home=true";
    })
    tour.onskip(() => {
        document.cookie = "tour_home=true";
    })
    if (document.cookie.indexOf("tour_home=true")<0)
        tour.start();</script>