@model IndexModel;
@using Microsoft.AspNetCore.Http;
@using Humanizer;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
}

<h1>Student</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tenant Secret")
            </th>
            <th>
                @Html.DisplayName("Student Georgian College Number")
            </th>
            <th>
                @Html.DisplayName("Program")
            </th>
            <th>
                @Html.DisplayName("Current Semester")
            </th>
            <th>
                @Html.DisplayName("Coop Semester")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>Selected?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentGeorgianCoolegeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoopSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @(HttpContextAccessor.HttpContext.Session.GetInt32("studentId") != null&& item.StudentId ==HttpContextAccessor.HttpContext.Session.GetInt32("studentId") ? "Yes":"--")
                </td>
                <td>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (Model.TenantId == Model.TenantIdAdmin)
{
    <p>
        <a asp-controller="Tracker" asp-action="Create">Create New</a>
    </p>
}
<h1>List Trackers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Start in")
            </th>
            <th>
                @Html.DisplayName("End in")
            </th>
            <th>
                @Html.DisplayName("Submit in")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>@Html.DisplayName("Total Applications")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trackers)
        {
            <tr>
                <td>
                    @(item.TrackerId== Model.TrackerIdCalculatedBySystem?">": "")
                    <abbr title="@item.Start.Date">
                        @item.Start.Date
                    </abbr>
                </td>
                <td>
                    <abbr title="@item.End.Date">
                        @item.End.Date.Humanize()
                    </abbr>
                </td>
                <td>
                    <abbr title="@item.Submit.Date">
                        @item.Submit.Date
                    </abbr>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Trackee.Count()
                </td>
                <td>
                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("trackerId") != null && item.TrackerId == HttpContextAccessor.HttpContext.Session.GetInt32("trackerId"))
                    {
                        <label>Yes</label>
                    }
                    else
                    {
                        <a asp-controller="Tracker" asp-action="Select" asp-route-id="@item.TrackerId">@(item.TrackerId== Model.TrackerIdCalculatedBySystem?"Select Current**": "Select")</a>
                    }
                    @if (Model.TenantId == item.TenantId)
                    {
                        <a asp-controller="Tracker" asp-action="Delete" asp-route-id="@item.TrackerId">| Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th><em>Total</em> </th>
            <th colspan="3"></th>
            <th>@Model.Trackers.Sum(e => e.Trackee.Count()) </th>
            <th></th>
        </tr>
    </tfoot>
</table>
