@model CoopTracker.Trackee
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trackee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <input class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("TenantId")" disabled />
                <input asp-for="TenantId" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("TenantId")" type="hidden"/>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("studentName")" disabled />
                <input asp-for="StudentId" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetInt32("studentId")" type="hidden" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackerId" class="control-label"></label>
                <input class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString("trackerDescription")" disabled />
                <input asp-for="TrackerId" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetInt32("trackerId")" type="hidden" />
                <span asp-validation-for="TrackerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyCity" class="control-label"></label>
                <input asp-for="CompanyCity" class="form-control" />
                <span asp-validation-for="CompanyCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAppliation" class="control-label"></label>
                <input asp-for="DateAppliation" class="form-control" />
                <span asp-validation-for="DateAppliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentProvided" class="control-label"></label>
                <input asp-for="DocumentProvided" class="form-control" />
                <span asp-validation-for="DocumentProvided" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdate" class="control-label"></label>
                <input asp-for="LastUpdate" class="form-control" />
                <span asp-validation-for="LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
